@keyframes typing {
    from {
      width: 0
    }
}
      
@keyframes blink {
    50% {
      border-color: transparent
    }
}

.container {
    /* background-image: url(../public/images/sunder-muthukumaran-BwA_aAx8dV0-unsplash.jpg); */
    /* background-image: url(../public/images/shubham-dhage-jI7F80xmU1U-unsplash.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: whitesmoke;
    /* z-index: -1; */
    /* margin-bottom: -50px; */
    /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.15)); */
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    color: #0f2948;
    /* padding: 70px 0 60px 0; */
    text-align: center;
    width: 90vw;
    max-width: 1350px;
    margin: 0 auto;
    height: 90vh;
    min-height: 700px;
}

.content > h1 {
    font-size: 2.25rem;
    line-height: 1;
    font-family: 'Abel', sans-serif;
}

.content > h1:nth-of-type(2) {
    background: -webkit-linear-gradient(#9c3eb6, #C33364);
    /* background: -webkit-linear-gradient(#d48548, #8f460f); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content > p {
    font-size: 1.2rem;
    margin-top: 35px;
    width: 95%;
    font-family: 'Abel', sans-serif;
}

.buttons {
    margin-top: 35px;
    display: grid;
    gap: 15px;
}

.buttons a {
    padding: 15px 65px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Abel', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.buttons a:first-of-type {
    color: #C33364;
    background-color: #eee;
    border: 2px solid #0f2948;
    border-bottom-left-radius: 10px;
}

.buttons a:first-of-type:hover {
    color: #0f2948;
    border: 2px solid #C33364;
}

.buttons a:nth-of-type(2) {
    color: #fff;
    background-color: #C33364;
    border: 2px solid #C33364;
    border-bottom-right-radius: 10px;
}

.buttons a:nth-of-type(2):hover {
    background-color: #b82455;
}

@media screen and (min-width: 768px) {
    .content > p {
        width: 60%;
    }

    .content > h1:nth-of-type(1) {
        width: 14ch;
        animation: typing 2s steps(22), blink .5s step-end infinite alternate;
        white-space: nowrap;
        word-wrap: break-word;
        overflow: hidden;
        /* border-right: 5px solid #b82455; */
    }

    .buttons {
        grid-template-columns: repeat(2, 1fr);
    }

    .buttons button, .buttons a {
        width: fit-content;
    }
}

@media screen and (min-width: 1024px) {
    .content > h1 {
        font-size: 3.75rem;
    }

    .content > p {
        font-size: 1.4rem;
    }
}