.TechnologyCard {
    cursor: pointer;
    border: 1px solid #0f2948;
    border-radius: 2px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    align-self: flex-start;
    color: #0f2948;
    padding: 15px 20px;
    transition: 200ms;
}

.TechnologyTitle {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.TechnologyTitle > p {
    margin: 5px 0;
    margin-bottom: 3px;
    border-radius: 10px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
}

.TechnologyTitle > p::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 70%;
    border: 1px solid white;
    background-color: #C33364;
    transition: 1500ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

.TechnologyIcon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.TechnologyIcon > h4 {
    font-family: 'Abel', sans-serif;
    margin-left: 10px;
    font-size: 15px;
    color: #0f2948;
}

.Icon {
    height: 25px;
    width: 25px;
    transition: 1000ms;
    color: #C33364;
}